body {
    background-image: url('https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80');
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
    background-color: navy;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: navy;
    background-color: yellow;
}

div {
    background-color: white;
}