<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Noob - Meme Application</title>

    <style>
        body {
            background: #eef5f9;
            color: #3e5569;
            padding: 10px;
            padding-top: 5px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .card {
            background: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px lightgray;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <h3>Home</h3>

    <hr><br>

    <div class="card">
        <marquee behavior="" direction="">Selamat datang di <b>YOU NOOB "Meme Application"</b>. Aplikasi ini dibuat agar kebutuhan humor anda terpenuhi</marquee>
    </div>

    <div class="card" align="center">
        <h3>YOU NOOB</h3>
        <img src="../favicon.png" style="max-height: 300px; max-width: 100%;" alt="">
    </div>
</body>
</html>