<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Noob - Meme Application</title>

    <style>
        body {
            background: #eef5f9;
            color: #3e5569;
            padding: 10px;
            padding-top: 5px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .card {
            background: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px lightgray;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <h3>Tentang</h3>

    <hr><br>

    <div class="card">
        <big>Pengertian Meme</big>
        <br>
        <p>
            Meme adalah ide, perilaku, atau gaya yang menyebar dari satu orang ke orang lain dalam sebuah budaya. Meme merupakan neologisme yang diciptakan oleh Richard Dawkins. Berikut merupakan contoh meme: gagasan, ide, teori, penerapan, kebiasaan, lagu, tarian dan suasana hati.
        </p>
    </div>

    <div class="card">
        <big>Asal Usul dan Konsep</big>
        <br>
        <p>
            Kata meme pertama kali dikenalkan oleh Dawkins melalui bukunya The Selfish Gene pada tahun 1976. Dawkins memakai istilah ini untuk mendefinisikan lahirnya budaya dengan anggapan terjadinya merupakan bentukan dari banyak replikator. Hipotesisnya adalah manusia seharusnya melihat kelahiran budaya berasal dari banyaknya bentukan replikator, yang umumnya mereplikasi melalui hubungan dengan manusian, yang telah berevolusi sebagai peniru (walaupun tidak sempurna) (copy) informasi maupun prilaku yang efisien. Meme tidak selalu terkopi secara sempurna, bahkan dapat hilang, tercampur atau bahkan berubah dikarenakan pengaruh dari ide lainnya, sehingga menjadikan suatu meme yang baru. Meme tersebut (meme yang baru) dapat menjadi lebih baik (atau buruk) sebagai replikator dibandingkan dengan meme sebelumnya, hal inilah yang menjadi kerangka hipotesis dari evolusi budaya, analogi tersebut membimbing kita menuju evolusi biologi yang berbasiskan gen.
        </p>
    </div>

    <div class="card">
        <big>Tujuan Meme</big>
        <br>
        <ul>
            <li>Meme sebagai ungkapan perasaan</li>
            <li>Meme menyampaikan ungkapan dan maksud yang tersirat</li>
            <li>Meme sebagai media marketing</li>
            <li>Meme menjadi alat sosial dengan orang lain</li>
        </ul>
    </div>
</body>
</html>